/*!
 * Projekt Würzburg
 * Bootstrap Template
 * 01.2015 v1
 */

/* ******* BASE STYLES ****** */
body { width: 100%; height: 100%; font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;}
html { width: 100%; height: 100%;}
p { font-size: 14px; line-height: 1.75;}
p.large { font-size: 16px;}
h1 { font-size: 42px;}

@font-face {font-family:"cinnamon cake";src:url("../fonts/cinnamon_cake.eot?") format("eot"),url("../fonts/cinnamon_cake.woff") format("woff"),url("../fonts/cinnamon_cake.ttf") format("truetype"),url("../fonts/cinnamon_cake.svg#cinnamoncake") format("svg");font-weight:normal;font-style:normal;}

a,
a:hover,
a:focus,
a:active,
a.active { outline: 0;}
a.readmore { margin-top: 5px;}
a:hover,
a:focus,
a:active,
a.active { /*color: #fff;*/}
.fixed-to-top {
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index:100;
    display:none;
    /*padding: 0;
    margin: 0;*/
}

/* ******* CONTAINER ****** */
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.about-section .row,
.projekte-section .row,
.sponsors-section .row,
.members-section .row,
.contact-section .row {
    padding-right: 25px;
    padding-left: 25px;
  }
@media (min-width: 768px) {
  .container {
    /*width: 750px;*/
    width: 90%;
  }
 .about-section .row,
.projekte-section .row,
.sponsors-section .row,
.members-section .row,
.contact-section .row {
    padding-right: 40px;
    padding-left: 40px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 100%;
    padding-right: 40px;
    padding-left: 40px;
  }
   .about-section .row,
.projekte-section .row,
.sponsors-section .row,
.members-section .row,
.contact-section .row {
    padding-right: 60px;
    padding-left: 60px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 100%;
    padding-right: 40px;
    padding-left: 40px;
  }
   .about-section .row,
.projekte-section .row,
.sponsors-section .row,
.members-section .row,
.contact-section .row {
    padding-right: 100px;
    padding-left: 100px;
  }
}

/* ******* NAV TOP BAR ****** */
a.titel { float: left; padding: 0; margin-left: 5px;}
a.titel img { float: left; padding: 0; margin: 8px 8px 4px ; height: 28px;}
a.titel h1{ font-family:"cinnamon cake"; font-size: 22px; font-weight: 400; color: #fff; float: left; padding: 0; margin: 12px 0;}
.navbar { background-color: #222; padding: 5px 0; border: none;}
.navbar-default .navbar-toggle .icon-bar {background-color: #fff;}
.navbar-nav {
    float: right;
    /*padding: 0;
    margin: 0;*/
}
.navbar-nav li a {
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 1px;
    color: #222;
    text-transform: uppercase;
}
.navbar-nav li a.page-scroll:hover,
.navbar-nav li a.page-scroll:focus{
    color: #fff;
    background-color: #666;
}
.navbar-nav li a.page-scroll:active,
.navbar-nav li a.page-scroll.active {
    color: #fff;
    background-color: #666;
}

@media(min-width:600px) {
a.titel img {
    float: left;
    padding: 0;
    margin: 4px 8px 4px ;
    height: 32px;
}
a.titel h1{
    font-family:"cinnamon cake";
    font-size: 30px;
    font-weight: 600;
    color: #fff;
    float: left;
    padding: 0;
    margin: 7px 0;
}
.navbar-nav li a.page-scroll {
        font-size: 14px;
        color: #fff;
    }
}

@media(min-width:767px) {
.navbar {
        background: none;
        padding: 30px 0;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
    }
.navbar li a.page-scroll{
        font-size: 15px;
        color: #fff;
        text-align: right;
    }
.navbar li a.page-scroll:hover,
.navbar-nav li a.active:focus {
        color: #222;
        background-color: #fff;
    }
.navbar-nav li a:hover,
.navbar-nav li a:focus{
    color: #222;
    background-color: #fff;
}
.navbar-nav li a:active,
.navbar-nav li a.active,
.navbar-nav li:active,
.navbar-nav li.active {
    color: #222;
    background-color: #fff;
}    
a.titel img {
    float: left;
    padding: 0;
    margin: 0 6px;
    height: 40px;
}
a.titel h1{
    font-family:"cinnamon cake";
    font-size: 32px;
    color: #fff;
    float: left;
    padding: 0;
    margin: 8px 0;
}
.top-nav-collapse {
        background: #222;
        padding: 0;
    }
.top-nav-collapse  li a:active,
.top-nav-collapse  li a.active,
.top-nav-collapse  li:active,
.top-nav-collapse  li.active {
        background-color: #fff;
        color: #222;
    }
.top-nav-collapse a.titel img {
        height: 32px;
        margin: 12px 8px;
    }
}

@media (max-width: 1023px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
		top: 0;
		border-width: 0 0 1px;
	}
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
		margin-top: 7.5px;
	}
	.navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
  		display:block !important;
	}
}
@media (min-width: 1024px) {
    .a.titel img {
    float: left;
    padding: 0;
    margin: 0 6px;
    height: 50px;
}
	a.titel h1{
    font-family:"cinnamon cake";
    font-weight: 600;
}
.top-nav-collapse a.titel img {
        height: 36px;
        margin: 10px 8px;
    } 
}
/* ******* HEADER INTRO SLIDER ****** */
.intro-section {
    height: 100%;
    padding-top: 0px;
    text-align: center;
}
.carousel,
.carousel-inner .item,
.carousel-inner .active {
    height: 100%;
}
.carousel,
.carousel-inner .item {
    width: 100%;
}
.carousel-inner {
    height: 100%;
}
.carousel-caption {
	z-index: 10;
	padding-bottom: 50px;
}
/*.carousel-inner .carousel img,
.carousel-inner .item img {
    height: 100%;
    width: 100%;
}*/
.carousel-control.left {
  background-image: none;
}
.carousel-control.right {
  background-image: none;
}
.carousel-indicators {
  bottom: 20px;
}
.carousel .carousel-inner .bg {
	background-repeat:no-repeat;
	background-size:cover;
}
.carousel .carousel-inner .bg img {
	width: 100%;
	margin-top: 50px;
}
.carousel .carousel-inner .intro1 {
	/*background-image:url(bg1.jpg);
	background-position: center top; */
	background-color: #26760C;
}
.carousel .carousel-inner .intro1 h2 {
	/*background-image:url(bg1.jpg);
	background-position: center top; */
	color: #E71D2B;
}
.carousel .carousel-inner .intro2 {
	/*background-image:url(bg2.jpg);
	background-position: center center; */
	background-color: #36BAB4;
}
.carousel .carousel-inner .intro3 {
	/*background-image:url(bg3.jpg);
	background-position: center bottom; */
	background-color: #E71D2B;
}
@media(min-width:768px) {
.intro-section {
    height: 100%;
    padding-top: 0px;
    text-align: center;
    background: #fff;
}
.carousel,
.carousel-inner .item,
.carousel-inner .active {
    height: 100%;
}
.carousel-indicators {
  bottom: 40px;
}
/*.carousel .carousel-inner .bg img {
	width: 100%;
	margin-top: 0px;
}*/
.carousel .carousel-inner h2 {
	font-weight: 700;
	font-size: 60px;
}
.carousel .carousel-inner h4 {
	font-weight: 400;
	font-size: 32px;
}
.carousel .carousel-inner p {
	font-weight: 200;
	font-size: 20px;
	line-height: 20px;
}
.carousel .carousel-inner .intro1 img {
	width: 70%;
	margin-top: 30px;
}
.carousel .carousel-inner .intro2 h2 {
}
.carousel .carousel-inner .intro2. img {
	width: 40%;
}
.carousel .carousel-inner .intro3 img {
	width: 60%;
	margin-top: 50px;
}
}
@media(min-width:1024px) {
.carousel .carousel-inner .intro1 img {
	width: 70%;
	margin-top: 50px;
}
.carousel .carousel-inner .intro3 img {
	width: 60%;
	margin-top: 60px;
}
}

.carousel-control .glyphicon-menu-left,
.carousel-control .glyphicon-menu-right {
  position: absolute;
  top: 50%;
  z-index: 5;
  display: inline-block;
  font-size:30px;
}


/* ******* ABOUT SECTION ****** */
.about-section {
    min-height: 100%;
    padding-top: 80px;
    text-align: center;
    background: #eee;
}
.row.featurette {
    padding-bottom: 40px;
  }
.featurette h1,
.featurette h3,
.featurette p {
    text-align: left;
  }
/*.featurette h1 {
    color: #E71D2B;
  }*/
.featurette-image {
    margin-top: 30px;
  }

.about-section .timeline-starter { position: relative;
    margin-top: 30px;
    min-height: 50px;
}
.jumbotron.about-jumbo {
        background-color: #ffffff;
        padding-top:30px;
}

/* ******* PROJEKT SECTION ****** */
.projekte-section {
    /*height: 100%;*/
    padding-top: 80px;
    text-align: center;
    background: #fff;
    padding-bottom: 45px;
}
.timeline {
    position: relative;
    padding: 0;
    list-style: none;
    padding-bottom: 10px;
}

.timeline:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 40px;
    width: 2px;
    margin-left: -1.5px;
    background-color: #DDDDDD;
}

.timeline>li {
    position: relative;
    margin-bottom: 50px;
    min-height: 50px;
}

.timeline>li:before,
.timeline>li:after {
    content: " ";
    display: table;
}

.timeline>li:after {
    clear: both;
}

.timeline>li .timeline-panel {
    float: right;
    position: relative;
    width: 100%;
    padding: 0 20px 0 100px;
    text-align: left;
}

.timeline>li .timeline-panel:before {
    right: auto;
    left: -15px;
    border-right-width: 15px;
    border-left-width: 0;
}

.timeline>li .timeline-panel:after {
    right: auto;
    left: -14px;
    border-right-width: 14px;
    border-left-width: 0;
}

.timeline>li .timeline-image {
    z-index: 100;
    position: absolute;
    left: 0;
    width: 80px;
    height: 80px;
    margin-left: 0;
    border: 7px solid #DDDDDD;
    border-radius: 100%;
    text-align: center;
    color: #fff;
    background-color: #E71D2B;
}

.timeline>li .timeline-image h4 {
    margin-top: 14px;
    font-size: 18px;
    line-height: 18px;
}

.timeline>li.timeline-inverted>.timeline-panel {
    float: right;
    padding: 0 20px 0 100px;
    text-align: left;
}

.timeline>li.timeline-inverted>.timeline-panel:before {
    right: auto;
    left: -15px;
    border-right-width: 15px;
    border-left-width: 0;
}

.timeline>li.timeline-inverted>.timeline-panel:after {
    right: auto;
    left: -14px;
    border-right-width: 14px;
    border-left-width: 0;
}

.timeline>li:last-child {
    margin-bottom: 0;
}

.timeline .timeline-heading h4 {
    margin-top: 0;
    color: inherit;
}

.timeline .timeline-heading h4.subheading {
    text-transform: none;
}

.timeline .timeline-body>p,
.timeline .timeline-body>ul {
    margin-bottom: 0;
}
.timeline>li>.timeline-panel.comingsoon-inverted {
    float: right;
    padding: 0px 20px 0 80px;
    text-align: left;
}
@media(min-width:768px) {
    .projekt-section {
    min-height: 100%;
    padding-top:120px;
  }
.timeline:before {
        left: 50%;
    }

    .timeline>li {
        margin-bottom: 100px;
        min-height: 100px;
    }

    .timeline>li .timeline-panel {
        float: left;
        width: 48%;
        padding: 0 50px 10px 10px;
        text-align: right;
    }

    .timeline>li .timeline-image {
        left: 50%;
        width: 100px;
        height: 100px;
        margin-left: -50px;
    }

    .timeline>li .timeline-image h4 {
        margin-top: 16px;
        font-size: 20px;
        line-height: 18px;
    }

    .timeline>li.timeline-inverted>.timeline-panel {
        float: right;
        padding: 0 10px 10px 50px;
        text-align: left;
    }
}

@media(min-width:992px) {
    .timeline>li {
        min-height: 130px;
    }

    .timeline>li .timeline-panel {
        padding: 0 70px 10px 10px;
    }

    .timeline>li .timeline-image {
        width: 130px;
        height: 130px;
        margin-left: -65px;
    }

    .timeline>li .timeline-image h4 {
        margin-top: 30px;
        font-size: 22px;
        line-height: 26px;
    }

    .timeline>li.timeline-inverted>.timeline-panel {
        padding: 0 10px 10px 70px;
    }
}

@media(min-width:1200px) {
    .timeline>li {
        min-height: 150px;
    }

    .timeline>li .timeline-panel {
        padding: 0 80px 10px 10px;
    }

    .timeline>li .timeline-image {
        width: 150px;
        height: 150px;
        margin-left: -75px;
    }

    .timeline>li .timeline-image h4 {
        margin-top: 40px;
    }

    .timeline>li.timeline-inverted>.timeline-panel {
        padding: 0 10px 10px 80px;
    }
}
.jumbotron.projekt-jumbo {
        background-color: #DDDDDD;
}

/* ******* SPONSOR SECTION ****** */
.sponsors-section {
    padding-top: 100px;
    text-align: center;
    background: #eee;
    padding-bottom: 45px;
}
.sponsors-section .thumb {
    width: 25%;
    float: left;
    padding: 3px;
  }

@media(min-width:768px) {
   .sponsors-section {
    padding-top: 120px;
    text-align: center;
    background: #eee;
    padding-bottom: 45px;
    min-height: 100%;
}
.sponsors-section .thumb {
    width: 20%;
    float: left;
    padding: 5px;
  }
}

/* ******* MEMBERS SECTION ****** */
.members-section {
    min-height: 100%;
    padding-top: 80px;
    text-align: center;
    background: #fff;
    padding-bottom: 45px;
}
@media (min-width: 660px) {
  .col-lg-3 {
    width: 50%;
    float: left;
  }
}
@media (min-width: 992px) {
  .col-lg-3 {
    width: 25%;
    float: left;
  }
}
/* ******* KONTAKT SECTION ****** */
.contact-section {
    min-height: 100%;
    padding-top: 80px;
    text-align: center;
    background-color: #222;
    padding-bottom: 45px;
}
section#contact {
    /*background-color: #222;*/
    /*background-image: url(../img/map-image.png);
    background-position: center;
    background-repeat: no-repeat;*/
}

section#contact .section-heading {
    color: #fff;
}

section#contact .form-group {
    margin-bottom: 25px;
}

section#contact .form-group input,
section#contact .form-group textarea {
    padding: 20px;
}

section#contact .form-group input.form-control {
    height: auto;
}

section#contact .form-group textarea.form-control {
    height: 236px;
}

section#contact .form-control:focus {
    border-color: #fed136;
    box-shadow: none;
}

section#contact::-webkit-input-placeholder {
    text-transform: uppercase;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    color: #bbb;
}

section#contact:-moz-placeholder {
    text-transform: uppercase;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    color: #bbb;
}

section#contact::-moz-placeholder {
    text-transform: uppercase;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    color: #bbb;
}

section#contact:-ms-input-placeholder {
    text-transform: uppercase;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    color: #bbb;
}

section#contact .text-danger {
    color: #e74c3c;
}

@media(min-width:768px) {
   .contact-section {
    padding-top: 120px;
    text-align: center;
}
}
/* ******* FOOTER ****** */
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 35px;
  background-color: #222;
  padding: 0;
  display: none;
}
#footerlinks {
  bottom: 0;
    padding: 0;
    margin:0;
}
#footerlinks ul {
  bottom: 0;
  float: left;
    padding: 0;
    margin:0;
}
#footerlinks ul li {
  padding: 8px 5px 2px 5px;
  float: left;
}
#footerlinks ul li a {
  color: #fff;
  padding: 0;
  margin:0;
  font-size: 10px;
}
@media(min-width:768px) {
   .footer {
    display:block;
}
}

